.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.form {
   display: flex;
   flex-direction: column;
   padding: 50px 30px 30px;
   width: 340px;
   min-height: 355px;
   box-shadow: 0 0 6px 0 #00000024;
   border-radius: 12px;
}

.button-block {
   margin-top: 50px;
}

.error-text {
   text-align: center;
   margin-bottom: 10px;
}
