<main class="container">
    {{#> FormAuth}}
        <h1>Вход</h1>

        {{{
           InputField
                name="login"
                label="Login"
                id="login"
                type="text"
                env="registration"
                ref="login"
                validate=validate.login
        }}}

        {{{
             InputField
                name="password"
                label="Password"
                type="password"
                env="registration"
                ref="password"
                validate=validate.password
        }}}

        {{{
            Button
                text="Sign in"
                type="primary"
                onClick=handleLogin
        }}}

        {{{
            Button
                text="Sign up"
                type="link"
                onClick=handleRegister
        }}}
    {{/FormAuth}}
</main>

