<main class="profile">
    <div class="profile__back">
        <div class="profile__back-icon">{{> BackArrow }}</div>
    </div>
    <div class="profile__content">asdasdasdasdasdasdasdasdasdasdasdasdasdasd</div>
</main>