<div class="chat-bottom__send-message">
    <label
            for="{{name}}"
    >
        <input
                class="chat-bottom__input"
                ref="input"
                type="{{type}}"
                placeholder="{{placeholder}}"
                name="{{name}}"
        >
    </label>
</div>
