<div class="input">
    <label class="input__container">
        <div class="input__label">{{label}}</div>
        {{{
           Input
                type=type
                name=name
                id=name
                label=label
                onBlur=onBlur
                env=env
                ref="input"
        }}}
    </label>
    {{{ ErrorText error=error ref="errorText" }}}
</div>


