<div class="container">
    {{#> FormAuth}}
        <h1>Регистрация</h1>
        {{> Input label="Почта" }}
        {{> Input label="Логин" }}
        {{> Input label="Имя" }}
        {{> Input label="Фамилия" }}
        {{> Input label="Почта" }}
        {{> Input label="Телефон" }}
        {{> Input label="Пароль" type="password" }}
        {{> Input label="Пароль(еще раз)" type="password" }}
        {{> Button label="Зарегистрироваться" type="primary" page="profile"}}
        {{> Button label="Войти" type="link" }}
    {{/FormAuth}}
</div>
